<div>

  <div ng-if='saving'>
    <div ng-include="components/quiz/partials/saveQuizPrompt.html"></div>
  </div>
  <div class="buttons">
    <button ng-click="savePrompt()">SAVE ANSWERS</button>
    <button ng-click="checkMyAnswers()">CHECK ANSWERS</button>
    <button ng-click="reset()">RESET</button>
    <input name="checkAnswers" type="checkbox" ng-model="obj.instant" ng-click="checkForResults()">
    <label for="checkAnswers">Instant Gratification</label>
  </div>

<!--add directive for questionListDirective -->
<question-list questions='questions' answers='answers' results='results'
    current-question="currentQuestion" set-current-question='setCurrentQuestion'>
  </question-list>

</div>
